doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title NNN Tracker

        meta(property="og:type", content="website")
        meta(property="og:site_name", content="An NNN Tracker")
        meta(property="og:image:alt", content="nutella")
        meta(property="og:url", content="/project/nnn-tracker/")
        meta(property="og:title", content="The best tool to keep track of your progress")
        meta(property="og:description", content="And yes, NNN stand for No Nutella November")
        meta(property="twitter:card", content="summary_large_image")
        meta(property="theme-color", content="#ffffff")
        meta(property="og:image", content="/project/nnn-tracker/img/nutella.png")

        link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
        link(rel="stylesheet", href="./style/style.css")
        script(src="./script/script.js" defer)
    body
        noscript.noscript
            h3 JavaScript is required to use this tracker. Please enable it:)
        .block
            #main
                h1.reverse No Nutella November Tracker
                h2 The challenge
                    |  #[span.red.status_str.status_1(data-status="before") has not started]
                    | #[span.green.status_str.status_1(data-status="during") has started]
                    | #[span.red.status_str.status_1(data-status="after") has ended]
                    | in your timezone.
                h3 Time left before
                    |  #[span.status_str.status_2(data-status="before") the challenge start:]
                    | #[span.status_str.status_2(data-status="during") the challenge end:]
                    | #[span.status_str.status_2(data-status="after") the challenge start next year:]
                .clock#clock
                    .c_block
                        h1.reverse $_days
                        p days
                    .c_block
                        h1.reverse $_hours
                        p hours
                    .c_block
                        h1.reverse $_minutes
                        p minutes
                    .c_block
                        h1.reverse $_seconds
                        p seconds
                .right_align#info_display
                    p Time difference from TimeAPI.io's time: #[span.reverse $_time_offset seconds]
                    p (#[a(href="https://www.timeapi.io" target="_blank").reverse https://www.timeapi.io])
                    p Your timezone (as stated by your browser): #[span.reverse $_timezone]
            #main_error.hidden
                h1.reverse Error!
                p $_error_content
        .block.reverse
            .footer
                h3 Copyright (C) 2024 sudoker0, licensed under the #[span.unreverse MIT license].
                h3 Source code: #[a.unreverse(href="https://github.com/sudoker0/project.nnn-tracker" target="_blank") https://github.com/sudoker0/project.nnn-tracker]